@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --font-family: 'Roboto', sans-serif;
  --content-width: 1170px;
  --content-large-width: 1400px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-large-width: calc(var(--content-large-width) + (var(--container-offset) * 2));
  --brand-color: #33affb;
  --brand-color-hover: #0591E7;
  --accent-color: #a6dbfc;
  --darken-text-color: #000;
  --dark-text-color: #323941;
  --light-text-color: #999999;
  --lighten-text-color: #fafafa;
  --main-bg-color: #FFF;
  --dark-bg-color: #323941;
  --light-bg-color: #546e7a;
  --lighten-bg-color: #EEE; }

html {
  box-sizing: border-box;
  font-size: 12px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #323941; }

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%; }

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  object-fit: cover; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */ }

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff; }
  .input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
    display: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.main {
  flex: 1 1 auto; }

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width); }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4em;
  padding: 0.5em;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 0.5em;
  color: var(--brand-color);
  background-color: var(--dark-bg-color);
  border-radius: 1em;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 15px black; }
  .btn:not(:last-child) {
    margin-right: 1em; }
  .btn:hover {
    color: var(--brand-color);
    text-shadow: 0 0 15px var(--brand-color); }

.header {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--lighten-text-color);
  background-color: var(--dark-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.main {
  padding-top: 15em; }

.tasks {
  padding: 1em 0; }

.empty-list {
  display: flex;
  align-items: center; }
  .empty-list__img {
    padding-right: 1em; }
  .empty-list__title {
    font-size: 1.5rem;
    color: #fff; }

.task-item {
  display: flex;
  align-items: center;
  background-color: var(--lighten-bg-color);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 15px black; }
  .task-item__text {
    flex: 1 1 auto;
    margin-right: 1em;
    font-size: 1.75rem;
    color: var(--dark-text-color); }
  .task-item__buttons {
    display: flex; }
  .task-item:not(:last-child) {
    margin-bottom: 2em; }
  @media (max-width: 1100px) {
    .task-item {
      flex-direction: column;
      align-items: start; }
      .task-item__text {
        margin-bottom: 1em; } }

.tasks__list {
  margin-bottom: 1em; }

.none {
  display: none !important; }

.btn-action img {
  pointer-events: none; }

.task-item__text--done {
  background-color: #b3e5fc; }

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--dark-bg-color);
  height: 100vh;
  overflow: auto; }

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1200px;
  font-size: 2rem; }

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--lighten-bg-color);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.1), 5px 5px 15px black; }
  .form__label {
    width: 100%;
    padding-right: 1em; }
  .form__input {
    width: 100%;
    height: 2em;
    padding: 0 1em; }
  @media (max-width: 1100px) {
    .form {
      flex-direction: column;
      align-items: start; }
      .form__label {
        margin-bottom: 1em; } }
