.header {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--lighten-text-color);
    background-color: var(--dark-bg-color);
    &__logo {
    }
}
.container {
}

.logo {
}
